<br>
  <%= form_for @repo do |f| %>
<h1><%= f.text_field :title, :required => true %></h1>
  <h5>
    <%= f.submit "Save" %>
    <% end %>
  </h5>

<% @repo.resources_by_language.each do |id, resources| %>
      <% @language = Language.find(id) %>
      <%= image_tag @language.image, :class => 'thumb' if id.present? %>
      <%= @language.title if id.present? %>
    Resources:
    <p></p>
      <% resources.each do |resource| %>
        <%= link_to resource.title, resource_path(resource.id, :repo_id => @repo.id) %>
        <p></p>
    <% end %>
    <br>
<% end %>


<%= link_to 'New Resource', new_resource_path(:repo_id => @repo.id) %>
<br>
<br>
<br>
<br>
<br>
<br>
<%= button_to 'Delete Repo', @repo, data: {confirm: 'Are you sure?'}, :method => 'delete' %>
