<h1><%= "#{@repo.title} Links"  %></h1>

<% @repo.resources.each do |resource| %>
  <% if resource.present? %>
    <p>
      Resource:
      <%= link_to resource.title, resource.url %>
    </p>
  <% end %>
<%# <%= raise "hell" %> %>
  <% if resource.language_id.present? %>
    <p><%= resource.language_id %></p>
  <% end %>

<% @repo.resources.group(:language_id).each do |language_id, resources| %>
  <%= Language.find(language_id).name %> Resources:
  <% resources.each do |resource| %>
    <%= resource.name %>
  <% end %>
<% end %>

<% end %>
