<h1>CodeConqr</h1>

<% if @current_user.present? %>
    <h2>Welcome back <%= @current_user.email %></h2>
<% end %>


<p><span>
There are so many amazing resources available online but it's difficult to keep track of them all.
CodeConqr is here to solve that!
<br>
Track online courses, resources and coding languages with CodeConqr.
</span></p>

<% if @current_user.present? %>
  <h3>Your current languages:</h3>
  <ul>
    <% @lang.each do |language| %>
    <li>
      <%= language.title %>
      <%= image_tag language.image, :class => 'thumb' if language.image.present? %>
      <div><%= link_to "delete", {:controller => "languages", :action => "destroy", :id => language.id }, data: {confirm: 'Are you sure?'}, :method => 'delete' %></div>
    <% end %>
    </li>
  </ul>

  <br>
  <br>
  <br>
  <br>
  <br>

  <ul style="list-style-type:none">

    <%= form_for @language do |f| %>
      <div class="form-group">
  <li><%= f.text_field :title, :required => true, :placeholder => "New Language", :class => 'form-control' %></li>
  <li><%= f.url_field :image, :placeholder => "Image Link", :class => 'form-control' %></li>
    <h5>
      <%= f.submit "Add Language", :class => 'btn btn-primary' %>
      <% end %>
    </h5>
      </div>
  </ul>
<% end %>
<br>
