<h1><%= @resource.title %></h1>

<%= form_for @resource do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true %>

  <%= f.label :url %>
  <%= f.text_field :url, :required => true %>

  <%= f.label :language_id %>
  <%= f.select :language_id, Language.order(:title) { |p| [ p.id, p.title ] }, include_blank: true %>
  <%# <%= f.collection_check_boxes :language_id, Language.order(:title),:id,:title do |u| %> %>
    <%# <%= @resource.update(:language_id => Language.each.id) %> %>
  <%# <% end %> %>

  <%= hidden_field_tag :repo_id, params[:repo_id] %>

  <%= f.submit %>
<% end %>
