<h1><%= @resource.title %></h1>

<%= form_for @resource do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true %>

  <%= f.label :url %>
  <%= f.text_field :url, :required => true %>

  <%= f.label :language_id %>
  <%= f.collection_select :language_ids, Language.all,:id,:title %>

  <%= hidden_field_tag :repo_id, params[:repo_id] %>

  <%= f.submit %>
<% end %>
