<h1><%= @resource.title %></h1>

<%= form_for @resource do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true, :class => 'form-control' %>
  <br>
  <%= f.label :url %>
  <%= f.text_field :url, :required => true, :class => 'form-control' %>
  <br>
  <%= f.label :language_id %>
  <%= f.collection_select :language_ids, Language.all,:id,:title, :class => 'form-control' %>
  <br>
  <%= link_to "Add New Language", root_path %>

  <%= hidden_field_tag :repo_id, params[:repo_id] %>
  <br><br>
  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
<br>
